<template>
    <i 
        v-if="iconSvg" 
        v-html="iconSvg" 
    >
    </i>
</template>

<script>
import feather from 'feather-icons'
export default {
    props: {
        name: {
            type: String
        },
        size: {
            type: Number
        },
        error: {
            type: Boolean,
            default: false
        }
    },

    data(){
        return {
            iconSvg: null
        }
    },

    created(){
        if(this.name){
            this.iconSvg = feather.icons[this.name]?.toSvg({ class: `inline h-${this.size} w-${this.size} -mt-1` })
        }
    }
    
}
</script>