<template>
    <carousel :perPage="1" paginationPosition="bottom-overlay" loop>
        <!-- <slide>
            <div class="h-64 sm:py-64 lg:h-64 bg-cover bg-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/walkway2.jpeg');"></div>
        </slide> -->
        <slide>
            <div class="h-64 sm:py-64 lg:h-64 bg-cover bg-center flex items-center" style="background-image: url('/images/walkway2.jpeg');">
                <!-- <div class="mx-auto px-4 text-white">
                    Event caption here
                </div> -->
            </div>
        </slide>
        <slide>
            <div class="h-64 sm:py-64 lg:h-64 bg-cover bg-center" style="background-image: url('/images/walkway1.jpeg');"></div>
        </slide>
        <slide>
            <div class="h-64 sm:py-64 lg:h-64 bg-cover bg-center" style="background-image: url('/images/admin1.jpeg');"></div>
        </slide>
    </carousel>
</template>

<script>
    import { Carousel, Slide } from 'vue-carousel';
    export default {
        components: {
            Carousel,
            Slide
        },
    }
</script>
